<div class="maintop">
  <div class="maintopleft">
    <div class="roomname2">
      <%= @room.name %>
    </div>
  </div>
  <div class="maintopright">
    <div class="chatend">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="mainmiddle">
   <div class="message">
   <%= render partial: 'message', collection: @messages %>
   </div>
</div>
<div class="mainbottom">
  <%= form_with model: [@room, @message], html: {class: "form"}, local: true do |f| %>
                     <%# ↑ ルーティングのネストをしており、roomとmessageは親子関係にある為、指定のチャットルームのレコード情報をセットする必要がある。 %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>
</div>
