<div class='chat-room-form'>
  <h1>新規チャットルーム</h1>
  <%=form_with model: @room, local: true do |f|%>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <%= f.label :チャットルーム名, class: 'chat-room-form__label'%>
      </div>
      <div class='chat-room-form__field--right'>
        <%= f.text_field :name, class: 'chat__room_name chat-room-form__input', placeholder: 'チャットルーム名を入力してください'%>
      </div>
    </div>
    <div class='chat-room-form__field'>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'>
        <label class='chat-room-form__label' for='chat_room_チャットメンバー'>チャットメンバー</label>
      </div>
      <div class='chat-room-form__field--right'>
        <select name="room[user_ids][]"> <%# select要素は、paramsを通して値をコントローラーへ渡すことができる%>
                      <%# コントローラーへ値を送る際、ここのname属性がキー。option要素のvalue属性の値(user.id)が値となる。%>
                      <%# {"room[user_ids][]" => "選択したユーザーのid"}となる%> 
          <option value="">チャットするユーザーを選択してください</option>
          <% User.all.where.not(id: current_user.id).each do |user| %>
          <option value=<%=user.id%>><%= user.name %></option>
          <% end %>
        </select>
            <%# ここまででだとプルダウンで選択したユーザーの情報しかコントローラーに送られない為、↓の記載で現在ログイン中のユーザーのデータも併せて送信するようにしている%>
        <input name="room[user_ids][]" type="hidden" value=<%=current_user.id%>>
                                       <%# type=hiddenとすることで画面上に現れないinput要素を作成できる %>
        <%# ここでもname属性がキー。value属性の値が値となる%>
        <%# 結果的にparamsは{"room[user_ids][]" => "選択したユーザーのid, 現在ログインしているユーザーのid"}となる。%>
        </div>
    </div>
    <div class='chat-room-form__field'>
      <div class='chat-room-form__field--left'></div>
      <div class='chat-room-form__field--right'>
        <%= f.submit class: 'chat-room-form__action-btn'%>
      </div>
    </div>
  <% end %>
</div>
